.display-inline-block{
	display: inline-block;
}

.relativeposition{
	position: relative;
}
.absoluteposition{
	position: absolute;
}


.right{
	float: right;

}


.clearfix{
	clear: both;
}


body{
	overflow-x: hidden;
}

header{
	height: 670px;
	background-image: url("../images/background-image.png");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
}

nav li img{
	float: left;
	width: 31px;
	height: 25px;
	margin-left: 98px;
	margin-top: 38px;
	
}

nav div{
	font-size: 12px;
	text-align: middle;
	margin-top: 38px;
	margin-right: 127px;
}
.headerli{
	margin-left: 23px;
	font-weight: bold;
}

.headerli a{
	color: #000;
	
}

.headerli a:hover{
	text-decoration: none;
	opacity: 0.5;
}

.headerli a:visited{
	color:#000;
}

#firstdiv{
	width: 532px;
	height: 288px;
	margin-top: 120px;
	margin-right: 97px;
	background-color: #C3C9CF;
	/*box-sizing: border-box;*/
	padding: 26px;
	
}

#firstdiv h2 {
	font-size: 38px;
	margin-bottom: 37px;
	color: #1D1D1D;
}
#firstdiv p{
	font-size: 18px;
	margin-bottom: 40px;
	color: #787878;
	
}
#firstdiv span{
	font-size: 12px;
	background-color: #10C9C3;
	padding: 18px 46px;
}

#firsta{
	color: #FFFFFF;
}

#firsta:hover{
	text-decoration: none;
	opacity: 0.5;
}

#firsta:visited{
	color:#FFFFFF;
}

#h1{
	text-align: center;
	font-size: 30px;
	margin-top: 95px;
	margin-bottom: 35px;
	color: #000;
}


#p1{
	text-align: center;
	margin-bottom: 35px;
	color: #787878;

}
#img1{
	
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}


#section1{
	height: 570px;
	background-color: #DDDDDD;
	 position: relative;
}


#div1{

	vertical-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 97px;
}

#div1 h1{
	font-size: 30px;
	color: #000;
	margin-bottom: 35px;
}   

#div1 p{
	font-size: 12px;
	font-weight: bold;

}

#p21, #p31, #p41{
	margin-left: 20px;
}

.dvi{
	width: 500px;
	height: 3px;
	background-color: #D8D8D8;

}

#ddiv1{
	width: 336px;
	height: 3px;
	background-color: #10C9C3;
	margin: 0px;

}
#ddiv2{
	width: 428px;
	height: 3px;
	background-color: #10C9C3;
	margin: 0px;

}

#ddiv3{
	width: 280px;
	height: 3px;
	background-color: #10C9C3;
	margin: 0px;

}


#div2 {
    width: 683px;
	float: right;

}

.divv{
	display: inline-block;
	background-color: #10C9C3;
}
.divv p {
	display: inline-block;
	text-align: center;
	color: #FFFFFF;
}

#div3, #div4{
	display: block;
}
#div3{
	padding-top: 98px;
}
#div4{
	margin-top: -20px;
	padding-bottom: 100px;
}

#div3 p{
	font-size: 18px;
}
#div4 p{
	font-size: 12px;
}
#p5{
	margin-left: 170px;
}
#p6{
	margin-left: 265px;
}
#p7{
    margin-left: 260px;
}
#p8{
	margin-left: 271px;
}
#p9{
margin-left: 170px;
}
#p10{
	margin-left: 172px;
}
#p11{
	margin-left: 202px;
}
#p12{
	margin-left: 187px;
}

#more{
	text-align: center;
	font-size: 12px;
	color: #8E8E8E;
	margin-top: 45px;
}

#more:hover{
	opacity: 0.5;
}

#h2{
	margin-top: 150px;
	font-size: 30px;
	margin-bottom: 37px;
	text-align: center;
}

#p13{
	font-size: 16px;
	text-align: center;
	color: #787878;
	margin-bottom: 58px;
}


#videodiv{
	background-color: #E9E9E9;
	width: 1170px;
	height: 571px;
	margin-left: 98px;
	position: relative;
}

#circ{
	left: 46%;
	top: 42%;
position: absolute;
}
#butt{
	position: absolute;
	left: 49.4%;
	top: 48%;
}

#section2{
	margin-bottom: 250px;
}

@media screen and (max-width: 375px){
   header{
    height: 670px;
	background-image: url("../images/background-image.png");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: 100%;
	
  }

nav li img{
	float: left;
	width: 36px;
	height: 30px;
	margin-left: 10px;
	margin-top: 20px;
	
}

nav ul{
	display: inline-block;
}

nav div{

	font-size: 14px;
	
	margin-top: -40px;
	margin-right: 0px;

}

.headerli{
	margin-left: 115px;
	font-weight: bold;
	margin-bottom: 10px;
}

#dd{
	margin-left: 115px;
	margin-bottom: 10px;
}

#firstdiv{
	width: 300px;
	height: 350px;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #C3C9CF;
	/*box-sizing: border-box;*/
	padding: 26px;

	
}

#firstdiv h2 {
	font-size: 34px;
	margin-bottom: 27px;

}
#firstdiv p{
	font-size: 14px;
	margin-bottom: 30px;

	
}
#firstdiv span{
	font-size: 9px;

	padding: 13px 41px;

}

}